app:
  id: user_service
server:
  address: 0.0.0.0
  port: 8123
gateway:
  enable: true
  address: 0.0.0.0
  port: 8124
  endpoint: /user-service/
  swaggerFile: ./www/service.swagger.json
database:
  enable: true
  dsn: "root:@(localhost:3306)/user_servic?parseTime=true"
  type: mysql
  address: 0.0.0.0
  port: 3306
  name: user_service
  user: root
  password:
  ssl: disable
  option:
atlas.pubsub:
  enable: false
  address: atlas.pubsub
  port: 5555 
  publish: topic
  subscribe: topic
atlas.authz:
  enable: false
  address: themis.authz
  port: 5555
atlas.audit:
  enable: false
  address: atlas.audit
  port: 5555
atlas.tagging:
  enable: false
  address: atlas.tagging
  port: 5555
internal:
  enable: true
  address: 0.0.0.0
  port: 8125
  health: /healthz
  readiness: /ready
config:
  source: deploy
  secret.file: 
logging:
  level: debug